* {
  margin: 0;
  padding: 0;
}

#header .container {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
}

#section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottone1 {
    width: 30px;
    height: 30px;
    padding: 10px;
    background: red;
}

#number {
  font-size: 60px;
  padding: 30px;

}

#bottone2 {
    width: 30px;
    height: 30px;
    padding: 10px;
    background: green;
}
